<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body style="margin: 0px" bgColor="#ffffff" style="">
  <p><%= t('.text') %>: 
  <p><%= @name %></p>
  <p><%= @phone %></p>
  <p><%= t('.text2') %>: 
  <p><%= @horary %></p>
  <p><%= t('.origen') %> <%= t("canaltirant.#{@appname}") %></p>
</body>
</html>
