<p><%= t('.greeting', nombre: @user_subscription.nombre) %></p>
<p><%= t('.text1') %></p>
<p><%= link_to t(".link_text"), params[:update_email_url] %></p>
<p><%= t('.text2') %></p>
<strong><%= t('.text3') %></strong>
