<p><%= t('.greeting', nombre: @user_subscription.nombre) %></p>
<p><%= t('.text1') %></p>
<p><%= link_to nil, params[:change_password_url] %></p>
<p><%= t('.text2') %></p>
<p><%= t('.text3') %></p>
<p><%= t('.text4') %></p>
